body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
table {
    margin: auto;
}
td *, td *:hover {
    cursor: default;
    text-decoration: none;
}
form {
    max-width: 300px;
    margin: auto auto 20px auto;
}
form .slider {
    margin-top: 10px;
}